$fa-font-path:  "../fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

/* Shared demo styles */

body {
  overflow: hidden;
}

.sc-helianthus-writer {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.sc-toolbar {
  border-bottom: 1px solid $border-color;
}


.sc-author-reference {
  background: rgba(#6AC216, 0.3);

  cursor: pointer;
  position: relative;

  .se-actions {
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 5px;
    border: 1px solid $border-color;
    background: #fff;
  }
}

.sc-container-editor {
  padding: 20px;
  overflow: auto;
}